{% extends "base.html" %}

{% block page_content %}
<h1>Index</h1>
<hr />

<div class="page">


</div> <!-- /.page -->
{% endblock %}

{% block scripts %}

    {{ block.super }}
    <script type="text/template" id="poll-list-template">
        <table class="table striped">
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Options</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% _.each(polls, function(poll) { %>
                    <tr> 
                        <td><%= poll.get('question') %></td>
                        <td>
                            <ul><% var choices = poll.get('choices') %>
                                <% _.each(choices, function(choice) { %>
                                <li><%= choice.choice %></li>
                            <% }); %>
                            </ul>
                        </td>
                        <td><%= poll.get('pub_date') %></td>
                        <td></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </script>
    <script>
        var Polls = Backbone.Collection.extend({
            url: '/polls/api/v1/poll/?username={{ user.username }}&api_key={{ api_key }}&format=json',
        });

        var PollList = Backbone.View.extend({
            el: '.page',
            render: function() {
                // quick hack to get "this" and use it out of scope
                var that = this;
                var polls = new Polls();
                // get the data
                polls.fetch({
                    // on success...
                    success: function(polls) {
                        var template = _.template($("#poll-list-template").html(), 
                            {polls: polls.models});
                        that.$el.html(template);
                    }
                });
            }
        });

        var Router = Backbone.Router.extend({
            routes: {
                '': 'home'
            }
        });

        var pollList = new PollList();

        var router = new Router();

        router.on('route:home', function() {
            pollList.render();
        });
        // to tell backbone to start listening to the url
        Backbone.history.start();
    </script>
{% endblock %}
