{% extends "base.html" %}

{% block page_content %}
<h1>Index</h1>
<hr />
<div class="page">


</div> <!-- /.page -->
{% endblock %}

{% block scripts %}

    {{ block.super }}

    <script>
        var PollList = Backbone.View.extend({
            el: '.page',
            render: function() {
                this.$el.html('!CONTENT SHOULD SHOW HERE!');
            }
        });

        var Router = Backbone.Router.extend({
            routes: {
                '': 'home'
            }
        });

        var pollList = new PollList();

        var router = new Router();

        router.on('route:home', function() {
            pollList.render();
        });
        // to tell backbone to start listening to the url
        Backbone.history.start();
    </script>
{% endblock %}
