{% extends "base.html" %}

{% block page_content %}
<h1>Index</h1>
<hr />
<div class="page">


</div> <!-- /.page -->
{% endblock %}

{% block scripts %}

    {{ block.super }}

    <script>
        var Router = Backbone.Router.extend({
            routes: {
                '': 'home'
            }
        });
        var router = new Router();
        router.on('route:home', function() {
            console.log('we have loaded the home page');
        });
        // to tell backbone to start listening to the url
        Backbone.history.start();
    </script>
{% endblock %}
